// lớp cha
.list-todo-container {
  button {
    // chuyển con trỏ khi đưa vào button sẽ thành hình bàn tay
    cursor: pointer;
  }
  //lớp con
  .add-todo {
    .add {
      margin: 0 10px;
    }
  }
  .list-todo-content {
    // lớp con
    width: 400px;
    margin: 0 auto;

    .todo-child {
      // lớp con của con
      &:first-child {
        // xét điều kiện cho dòng đầu
        border-top: 1px solid grey;
      }
      height: 40px;
      border-bottom: 1px solid grey;
      margin: 10px;
      .edit {
        margin: 0 10px;
      }
    }
  }
}
